@using elearning.model.ViewModels

@model IEnumerable<CourseChapterVm>

<div class="table100 ver2 m-b-110">
    <table data-vertable="ver2">
        <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Id</th>
                <th class="column100 column2" data-column="column2">Title</th>
                <th class="column100 column3" data-column="column3">Status</th>
                <th class="column100 column4" data-column="column4">Created</th>
                <th class="column100 column5" data-column="column5">Created By</th>
                <th class="column100 column6" data-column="column6">Lessons</th>
                <th class="column100 column9" data-column="column9">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chapter in Model)
            {
            <tr class="row100">
                <td class="column100 column1" data-column="column1">@chapter.Id</td>
                <td class="column100 column2" data-column="column2">@chapter.Title</td>
                <td class="column100 column3" data-column="column3">@chapter.Status</td>
                <td class="column100 column4" data-column="column4">@chapter.DateCreated.ToString("dd-MM-yyyy")</td>
                <td class="column100 column5" data-column="column5">@chapter.Creator</td>
                <td class="column100 column6" data-column="column6">@chapter.LessonCount</td>
                <td class="column100 column9" data-column="column9">
                    <a href="/coursechapter/details/@chapter.Id">&nbsp; <i class="fa fa-edit"></i></a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

