@model elearning.model.ViewModels.FileUploadVm

<script src="/scripts/dropzone/dropzone.min.js"></script>
<link href="/scripts/dropzone/dropzone.min.css" rel="stylesheet" />

<style type="text/css">
    .dropzone {
        position: relative;
        background-color:dimgrey;
        border: 5px dashed #FFF;
        border-radius: 20px;
        color: white;
        font: bold 24px/200px arial;
        height: 300px;
        margin: 30px auto;
        text-align: center;
        width: 100%;
    }

        .dropzone.hover {
            border: 10px solid #FE5;
            color: #FE5;
        }

        .dropzone.dropped {
            background: #222;
            border: 10px solid #444;
        }

        .dropzone div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .dropzone img {
            border-radius: 10px;
            vertical-align: middle;
            max-width: 95%;
            max-height: 95%;
        }

        .dropzone [type="file"] {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
</style>

<form action="/File/UploadImageOnly" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data">
    <div id="dropzone-previews"></div>
</form>


<script type="text/javascript">
    var imageIdCtrl = '@Model.ImageIdCtrl';
    
    Dropzone.options.myAwesomeDropzone = {
        dictDefaultMessage: "Drag and drop files here or click to upload.",
        thumbnailWidth: 200,
        thumbnailHeight: 200,
        paramName: "file",
        maxFilesize: @Model.MaxFileSize,
        url: '/File/UploadImageOnly',
        previewsContainer: "#dropzone-previews",
        uploadMultiple: @(Model.MultipleUpload? "true" : "false"),
        parallelUploads: @Model.ParallelUploads,
        maxFiles: @Model.MaxFileUpload,
        init: function () {
            var serverResult;
            this.on("success", function (file, response) {
                if (imageIdCtrl != '') {
                    serverResult = response;
                    $('#' + imageIdCtrl).val(serverResult.ResultObject[0].Id)
                }
                $('.dz-progress').hide();
                $('.dz-size').hide();
                $('.dz-error-mark').hide();
                cd = response;
            });

            this.on("addedfile", function (file) {

                var removeButton = Dropzone.createElement("<a href=\"#\">Remove file</a>");
                var _this = this;

                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.removeFile(file);

                    //remove image and calls delete method from server
                    $.ajax({
                        type: 'POST',
                        url: '/File/DeleteImage',
                        data: "imageId=" + serverResult.ResultObject[0].Identifier,
                        dataType: 'json'
                    });

                    if (imageIdCtrl != '') {
                        $('#' + imageIdCtrl).val('');
                    }
                });
                file.previewElement.appendChild(removeButton);
            });
        }
    };

</script>




<!-- https://www.c-sharpcorner.com/article/asp-net-mvc-drag-drop-multiple-image-upload/ -->