@using elearning.model.ViewModels;
@using System.Configuration;
@using elearning.utils.Helpers;

@{
   
    var settings = new SiteSettingsVm
    {
        SiteType = elearning.model.Enums.SiteType.Admin,
        SiteName = ConfigurationManager.AppSettings["CompanyAdminName"],
        ClientUser = AuthHelper.GetClientUser()
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bright">

    <title>ITeStudy - Admin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- Normalize Style -->
    <link rel="stylesheet" href="/Content/css/normalize.css">
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="/Content/fonts/font-awesome.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/extras/animate.css" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/Content/extras/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/Content/extras/owl.theme.css" type="text/css">
    <!-- Rev Slider Css -->
    <link rel="stylesheet" href="/Content/extras/settings.css" type="text/css">
    <!-- Nivo Lightbox Css -->
    <link rel="stylesheet" href="/Content/extras/nivo-lightbox.css" type="text/css">
    <!-- Slicknav Css -->
    <link rel="stylesheet" href="/Content/css/slicknav.css" type="text/css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/Content/css/colors/green.css" media="screen" />


    @RenderSection("HeaderScripts", false)
</head>
<body>

    <!-- Header area wrapper Starts -->
    <header id="header-wrap">

        <!-- Roof area Starts -->
        @Html.Partial("_TopHeader", settings)
        <!-- Roof area End -->


    </header>
    <!-- Header area wrapper End -->

    <div id="content">
        <div class="container">
            
            <div class="row">
                @if (settings.ClientUser != null && settings.ClientUser.IsLogged() && AuthHelper.IsCurrentUserAdmin(settings.ClientUser))
                {
                        <!--Sidebar-->
                        <aside id="sidebar" class="col-md-4 right-sidebar">
                            <!-- Search Widget -->
                            @Html.Partial("_Menu")
                        </aside>
                }
                @RenderSection("breadcrumb", false)

                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>




    <!-- Footer Section -->
    @Html.Partial("_Footer")
    <!-- Footer Section End-->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <div class="loader">
        <div class="preloader2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- jQuery  -->
    @Html.Partial("_FooterScripts")

    @RenderSection("BottomScripts", false)
</body>
</html>